body{
		font-family: 'Open Sans', sans-serif;
		background: url(img1.jpg);
		background-size:cover;
}

.titulo{
	font-size: 45px;
	color: #01A9DB;
	float:right;

}


.nombre{
	font-size: 25px;
	color: #01A9DB;
}

.correo{
	font-size: 25px;
	color: #01A9DB;
}

.tags{
	width: 200px;
	height: 200px;
	background-color: white;
	float: right;

}